.todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 80%;
  }
  
  .todo-row:nth-child(2n + 1) {
    /* background: linear-gradient(
      90deg,
      rgba(76, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    ); */
    background:#FF6103;
    opacity: .7;
    
  }
  
  .todo-row:nth-child(2n) {

    background:#CD3700;
    opacity: .7;
  }
  

  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
  }